body{
  background-color: black;
}
.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}
.icons{
  font-size: 35px;
  color: rgb(0, 0, 0);
}
